<?xml version="1.0"?>
<model>
  <name>Clueless Virat</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Abhijit Hota</name>
   <email>abhihota025@gmail.com</email>
   <name>Ashwin A Nayar</name>
   <email></email>
   <name>Ankit Kumar Pal</name>
   <email></email>
   
  </author>

  <description>
    Virat but clueless.
  </description>
</model>
